html,
body {
  height: 100%;
}

#page-content {
  flex: 1 0 auto;
}

#sticky-footer {
  flex-shrink: none;
}

body {
  background: #79a18e;
  background: linear-gradient(to right, #9bb6b4, #448383);
}
